body{
    background-color: white;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    display: flex;
}

body.dark{
    background-color: #232c35;
}

.mode{
    width: 550px;
    margin-left: 50px;
    position: absolute;
}

header{
    margin-left: 50px;
    margin-top: 25px;
}

.checkbox{
opacity: 0;
width: 100px;
height: 50px;
position: absolute;
left: -50px;
z-index: 1;
}

.label{
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .label .ball {
    transform: translateX(24px);
  }
  
  .fa-moon {
    color: #f39c12;
  }
  
  .fa-sun {
    color: #f39c12;
  }

nav{
    height: 100%;
    width: 3.75em;
    background: var(--main-yellow);
}
main{
    height: 100%;
    width: 100%;
}
.header{
    height: 3.75em;
    width: 100%;
}
.title{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 6em;
    color: var(--main-yellow);
}

.input{
    display: grid;
    padding-top: 13.125em;
    padding-right: 16.875em;
    padding-left: 16.875em;
    gap: 3.75em;

}

.translate{
    border: none;
}

.translate-Dark{
    background-color: #232c35;
    border: none;
    color: #fff;
}

::selection.dark{
  background-color: #232c35;
}
